
{{#> layouts/main title="Home Page" }}
  {{#*inline "customHead"}}
    {{!- some custom head such as css for this page -}}
  {{/inline}}

  {{#*inline "content-block"}}
    <h1>This is Home Page</h1>
  {{/inline}}

  {{#*inline "myJS"}}
    {{!- cusome js part -}}
  {{/inline}}
{{/layouts/main}}
