
{{#> layouts/main title="Home Page" }}
  {{#*inline "customHead"}}
    {{!- some custom head such as css for this page -}}
  {{/inline}}

  {{#*inline "content-block"}}
    <h1>This is Home Page</h1>
    <form action="/demo/form" method="POST">
        <input name="name"/>
        <button class="g-recaptcha" data-sitekey="6LesOy8UAAAAAJ_aOYzwKkPbyuTXU2Ec6Nc2xYWb" data-callback='onSubmit'>Submit</button>
    </form>
  {{/inline}}

  {{#*inline "myJS"}}
   <script>
       function onSubmit(token) {
         document.getElementById("demo-form").submit();
       }
     </script>
  {{/inline}}
{{/layouts/main}}
