{{#> layouts/main title="Login page" }} {{#*inline "content-block"}}
<div class="container">
  <form action="/login" method="post">
     {{#each errors}}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> {{this}}
    </div>
    {{/each}}
    <h2 class="form-signin-heading">Please login</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="" />
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
{{/inline}} {{/layouts/main}}